# Init

## Import

In [1]:
import asyncio
# import psycopg as driver
# import mysql.connector as driver
import mariadb as driver

import cred_mariap2 as c

## Functions

### Transaction Prefix

In [2]:
def t_prefix(tname, il):
    return f"{" " * il}{tname}: "

### Conditional Newline Printer

In [3]:
def print_nl(nl):
    if nl: print("")

### Print Separator

In [4]:
def sep(nl=True):
    print(f"{'*' * 10}")
    print_nl(nl)

## Database

### Table Contents

In [5]:
def tc(con_par, tn, ordering):
    with driver.connect(user=c.pg_userid, password=c.pg_password, host=c.pg_host, port=c.pg_port,
                        database=c.pg_db) as con:
        with con.cursor() as cur:
            records = cur.execute(f"select * from {tn} order by {ordering}")
    return records


def show_tc(con_par, tn, ordering, msg, nl=True):
    print(f"{msg}: {tc(con_par, tn, ordering)}")
    print_nl(nl)

### DB Exception Handling

In [6]:
def handle_db_exc(tname, il, con, e, clear_con=True, nl=True):
    print(f"{t_prefix(tname, il)}{type(e).__name__}")
    if clear_con:
        con.rollback()
        con.close()
    print_nl(nl)

### ClassValue

In [7]:
def create_cv(con_par):
    sql1 = "drop table if exists cv"
    sql2 = """ 
    create table cv (
      cls integer not null,
      val integer not null
    )
    """
    with driver.connect(user=c.pg_userid, password=c.pg_password, host=c.pg_host, port=c.pg_port,
                        database=c.pg_db) as con:
        with con.cursor() as cur:
            cur.execute(sql1)
            cur.execute(sql2)


def reset_cv(con_par):
    sql1 = "delete from cv"
    sql2 = "insert into cv values (1, 10), (1, 20), (2, 100), (2, 200)"
    with driver.connect(user=c.pg_userid, password=c.pg_password, host=c.pg_host, port=c.pg_port,
                        database=c.pg_db) as con:
        with con.cursor() as cur:
            cur.execute(sql1)
            cur.execute(sql2)

In [8]:
TBL_CV = "cv"
ORD_CV = "cls, val"

MSG_BEFORE_CV = "Before (cls, val)"
MSG_AFTER_CV = "After  (cls, val)"

CV_ALL_SEL = "select * from cv order by cls, val"
CV_INS_2 = "insert into cv select 2, sum(val) from cv where cls=1"
CV_INS_1 = "insert into cv select 1, sum(val) from cv where cls=2"

### Konto

In [9]:
def create_konto(con_par):
    sql1 = "drop table if exists konto"
    sql2 = """ 
    create table konto (
      kid integer not null primary key,
      betrag integer not null
    )
    """
    with driver.connect(user=c.pg_userid, password=c.pg_password, host=c.pg_host, port=c.pg_port,
                        database=c.pg_db) as con:
        with con.cursor() as cur:
            cur.execute(sql1)
            cur.execute(sql2)


def reset1_konto(con_par):
    reset_konto(con_par, "(100, 2), (200, 6)")


def reset2_konto(con_par):
    reset_konto(con_par, "(100, 80), (200, 50)")


def reset_konto(con_par, values):
    sql1 = "delete from konto"
    sql2 = f"insert into konto values {values}"
    with driver.connect(user=c.pg_userid, password=c.pg_password, host=c.pg_host, port=c.pg_port,
                        database=c.pg_db) as con:
        with con.cursor() as cur:
            cur.execute(sql1)
            cur.execute(sql2)

In [10]:
TBL_KTO = "konto"
ORD_KTO = "kid"

MSG_BEFORE_KTO = "Before (kid, betrag)"
MSG_AFTER_KTO = "After  (kid, betrag)"

KTO_ALL_SEL = "select * from konto order by kid"
KTO_ALL_SEL_FOR_UPDATE = "select * from konto order by kid for update"
KTO_100_SEL = "select * from konto where kid=100"
KTO_200_SEL = "select * from konto where kid=200"
KTO_100_UPD_3 = "update konto set betrag = 3 where kid=100"
KTO_100_UPD_MINUS10 = "update konto set betrag = -10 where kid=100"
KTO_100_UPD_WITHDRAW90 = "update konto set betrag = betrag -90 where kid=100"
KTO_200_UPD_0 = "update konto set betrag = 0 where kid=200"
KTO_200_UPD_WITHDRAW50 = "update konto set betrag = betrag -50 where kid=200"
KTO_200_UPD_7 = "update konto set betrag = 7 where kid=200"
KTO_300_INS_1 = "insert into konto values (300, 1)"

### Personal

In [11]:
def create_personal(con_par):
    sql1 = "drop table if exists personal"
    sql2 = """ 
    create table personal (
      pid integer not null primary key,
      gehalt integer not null
    )
    """
    with driver.connect(user=c.pg_userid, password=c.pg_password, host=c.pg_host, port=c.pg_port,
                        database=c.pg_db) as con:
        with con.cursor() as cur:
            cur.execute(sql1)
            cur.execute(sql2)


def reset_personal(con_par):
    sql1 = "delete from personal"
    sql2 = "insert into personal values (100, 40000), (200, 50000)"
    with driver.connect(user=c.pg_userid, password=c.pg_password, host=c.pg_host, port=c.pg_port,
                        database=c.pg_db) as con:
        with con.cursor() as cur:
            cur.execute(sql1)
            cur.execute(sql2)

In [12]:
TBL_PERS = "personal"
ORD_PERS = "pid"

MSG_BEFORE_PERS = "Before (pid, gehalt)"
MSG_AFTER_PERS = "After  (pid, gehalt)"

PERS_ALL_SEL = "select * from personal order by pid"
PERS_100_SEL = "select * from personal where pid=100"
PERS_200_SEL = "select * from personal where pid=200"
PERS_ALL_SEL_FOR_SHARE = "select * from personal order by pid for share"
PERS_ALL_SEL_FOR_UPDATE = "select * from personal order by pid for update"
PERS_100_UPD_41000 = "update personal set gehalt=41000 where pid=100"
PERS_100_UPD_ADD1000 = "update personal set gehalt= gehalt + 1000 where pid=100"
PERS_100_UPD_42000 = "update personal set gehalt=42000 where pid=100"
PERS_100_UPD_ADD2000 = "update personal set gehalt= gehalt + 2000 where pid=100"
PERS_200_UPD_51000 = "update personal set gehalt=51000 where pid=200"
PERS_100_DEL = "delete from personal where pid=100"

### Website

In [13]:
def create_website(con_par):
    sql1 = "drop table if exists website"
    sql2 = """ 
    create table website (
      wsid integer not null primary key,
      hits integer not null
    )
    """
    with driver.connect(user=c.pg_userid, password=c.pg_password, host=c.pg_host, port=c.pg_port,
                        database=c.pg_db) as con:
        with con.cursor() as cur:
            cur.execute(sql1)
            cur.execute(sql2)


def reset_website(con_par):
    sql1 = "delete from website"
    sql2 = "insert into website values (100, 9), (200, 10)"
    with driver.connect(user=c.pg_userid, password=c.pg_password, host=c.pg_host, port=c.pg_port,
                        database=c.pg_db) as con:
        with con.cursor() as cur:
            cur.execute(sql1)
            cur.execute(sql2)

In [14]:
TBL_WS = "website"
ORD_WS = "wsid"

MSG_BEFORE_WS = "Before (wsid, hits)"
MSG_AFTER_WS = "After  (wsid, hits)"

WS_ALL_SEL = "select * from website order by wsid"
WS_ALL_UPD = "update website set hits = hits + 1"
WS_HITS10_DEL = "delete from website where hits = 10"

## Transaction Code

### Synchronous

In [15]:
def t_complete(tname, il, con_par, iso, sql, sel="", rollback=False, print_pre=False, print_post=True, nl=True):
    prefix = t_prefix(tname, il)
    print(f"{prefix}START: {iso}")

    with driver.connect(user=c.pg_userid, password=c.pg_password, host=c.pg_host, port=c.pg_port,
                        database=c.pg_db) as con:
        with con.cursor() as cur:
            cur.execute(f"SET SESSION TRANSACTION ISOLATION LEVEL {iso}")
            if print_pre: print(f"{prefix}{cur.execute(sel)}")
            cur.execute(sql)
            print(f"{prefix}{sql}")
            if print_post: print(f"{prefix}{cur.execute(sel)}")
            if rollback:
                con.rollback()
                print(f"{prefix}rollback and close")
            else:
                print(f"{prefix}commit and close")
        print_nl(nl)

In [16]:
def t_start(tname, il, con_par, iso, sql, sel="", print_pre=False, print_post=True, nl=True):
    prefix = t_prefix(tname, il)
    print(f"{prefix}START: {iso}")

    con = driver.connect(user=c.pg_userid, password=c.pg_password, host=c.pg_host, port=c.pg_port, database=c.pg_db)
    with con.cursor() as cur:
        cur.execute(f"SET SESSION TRANSACTION ISOLATION LEVEL {iso}")
        if print_pre: print(f"{prefix}{cur.execute(sel)}")
        cur.execute(sql)
        print(f"{prefix}{sql}")
        if print_post: print(f"{prefix}{cur.execute(sel)}")
        print_nl(nl)
    return con

In [17]:
def t_next(tname, il, con, sql, sel="", print_pre=False, print_post=True, nl=True):
    prefix = t_prefix(tname, il)

    with con.cursor() as cur:
        if print_pre: print(f"{prefix}{cur.execute(sel)}")
        print(f"{prefix}{sql}")
        cur.execute(sql)
        if print_post: print(f"{prefix}{cur.execute(sel)}")
    print_nl(nl)

In [18]:
def t_finish(tname, il, con, sel="", rollback=False, print_state=False, nl=True):
    prefix = t_prefix(tname, il)
    with con.cursor() as cur:
        if print_state: print(f"{prefix}{cur.execute(sel)}")
        if rollback:
            con.rollback()
            print(f"{prefix}rollback and close")
        else:
            con.commit()
            print(f"{prefix}commit and close")
    con.close()
    print_nl(nl)

### Asynchronous

In [19]:
async def t_async_complete(tname, il, con_par, iso, sql, sel="", rollback=False, print_pre=False, print_post=True,
                           nl=True):
    prefix = t_prefix(tname, il)
    print(f"{prefix}START: {iso.name}")
    async with await driver.AsyncConnection.connect(con_par) as con:
        await con.set_isolation_level(iso)
        if print_pre:
            cur = await con.execute(sel)
            print(f"{prefix}{await cur.fetchall()}")
        await con.execute(sql)
        print(f"{prefix}{sql}")
        if print_post:
            cur = await con.execute(sel)
            print(f"{prefix}{await cur.fetchall()}")
        if rollback:
            await con.rollback()
            print(f"{prefix}rollback and close")
        else:
            print(f"{prefix}commit and close")
        print_nl(nl)

In [20]:
async def t_async_start(tname, il, con_par, iso, sql, sel="", print_pre=False, print_post=True, nl=True):
    prefix = t_prefix(tname, il)
    print(f"{prefix}START: {iso.name}")
    con = await driver.AsyncConnection.connect(con_par)
    await con.set_isolation_level(iso)
    if print_pre:
        cur = await con.execute(sel)
        print(f"{prefix}{await cur.fetchall()}")
    await con.execute(sql)
    print(f"{prefix}{sql}")
    if print_post:
        cur = await con.execute(sel)
        print(f"{prefix}{await cur.fetchall()}")
        print_nl(nl)
    return con

In [21]:
async def t_async_next(tname, il, con, sql, sel="", print_pre=False, print_post=True, nl=True):
    prefix = t_prefix(tname, il)
    if print_pre:
        cur = await con.execute(sel)
        print(f"{prefix}{await cur.fetchall()}")
    await con.execute(sql)
    print(f"{prefix}{sql}")
    if print_post:
        cur = await con.execute(sel)
        print(f"{prefix}{await cur.fetchall()}")
    print_nl(nl)

In [22]:
async def t_async_finish(tname, il, con, sel="", rollback=False, print_state=False, nl=True):
    prefix = t_prefix(tname, il)
    if print_state:
        cur = await con.execute(sel)
        print(f"{prefix}{await cur.fetchall()}")
    if rollback:
        await con.rollback()
        print(f"{prefix}rollback and close")
    else:
        await con.commit()
        print(f"{prefix}commit and close")
    await con.close()
    print_nl(nl)

# Config

## Globals

In [23]:
CON_PAR = " ".join([
    f"host={c.pg_host}",
    f"dbname={c.pg_db}",
    f"user={c.pg_userid}",
    f"password={c.pg_password}",
    f"options='-c search_path={c.pg_userid},ugeobln,ugm,uinsta,umisc,umobility,usozmed,public'"
])
# print(CON_PAR)
# RC, RR, SER = driver.IsolationLevel.READ_COMMITTED, driver.IsolationLevel.REPEATABLE_READ, driver.IsolationLevel.SERIALIZABLE
RC, RR, SER = "READ COMMITTED", "REPEATABLE READ", "SERIALIZABLE"
IL1, IL2, IL3, IL4 = 0, 10, 20, 30
TREAD, T1, T2, T3, T4 = "TRead", "T1", "T2", "T3", "T4"

## Create Tables

In [24]:
create_cv(CON_PAR)
create_konto(CON_PAR)
create_personal(CON_PAR)
create_website(CON_PAR)

# Benutzung Transaktionscode

## Commit, Rolllback

In [25]:
reset_personal(CON_PAR)
show_tc(CON_PAR, TBL_PERS, ORD_PERS, MSG_BEFORE_PERS)
con1 = t_start("T1", IL1, CON_PAR, RC, PERS_100_UPD_41000, PERS_ALL_SEL)
print(con1)
t_finish("T1", IL1, con1)
show_tc(CON_PAR, TBL_PERS, ORD_PERS, MSG_AFTER_PERS)
sep()
reset_personal(CON_PAR)
show_tc(CON_PAR, TBL_PERS, ORD_PERS, MSG_BEFORE_PERS)
con1 = t_start("T1", IL1, CON_PAR, RC, PERS_100_UPD_41000, PERS_ALL_SEL)
t_finish("T1", IL1, con1, rollback=True)
show_tc(CON_PAR, TBL_PERS, ORD_PERS, MSG_AFTER_PERS)

Before (pid, gehalt): None

T1: START: READ COMMITTED
T1: update personal set gehalt=41000 where pid=100
T1: None

<mariadb.connection connected to 'widb005l.f4.htw-berlin.de' at 0x7cd8eff3ccd0>
T1: commit and close

After  (pid, gehalt): None

**********

Before (pid, gehalt): None

T1: START: READ COMMITTED
T1: update personal set gehalt=41000 where pid=100
T1: None

T1: rollback and close

After  (pid, gehalt): None

In [26]:
reset_personal(CON_PAR)
show_tc(CON_PAR, TBL_PERS, ORD_PERS, MSG_BEFORE_PERS)
t_complete("T1", IL1, CON_PAR, RC, PERS_100_UPD_41000, PERS_ALL_SEL)
show_tc(CON_PAR, TBL_PERS, ORD_PERS, MSG_AFTER_PERS)

Before (pid, gehalt): None

T1: START: READ COMMITTED
T1: update personal set gehalt=41000 where pid=100
T1: None
T1: commit and close

After  (pid, gehalt): None

# Szenarien

## Snapshot - Read Committed

## Snapshot - Repeatble Read

In [27]:
reset1_konto(CON_PAR)
show_tc(CON_PAR, TBL_KTO, ORD_KTO, MSG_BEFORE_KTO)

t_complete(T1, IL1, CON_PAR, RC, KTO_100_UPD_3, KTO_ALL_SEL)

con1 = t_start(TREAD, IL3, CON_PAR, RR, KTO_ALL_SEL, KTO_ALL_SEL)

t_complete(T2, IL2, CON_PAR, RC, KTO_200_UPD_7, KTO_ALL_SEL)
t_complete(T3, IL1, CON_PAR, RC, KTO_300_INS_1, KTO_ALL_SEL)

t_next(TREAD, IL3, con1, KTO_ALL_SEL, KTO_ALL_SEL)
t_finish(TREAD, IL3, con1)

show_tc(CON_PAR, TBL_KTO, ORD_KTO, MSG_AFTER_KTO)

Before (kid, betrag): None

T1: START: READ COMMITTED
T1: update konto set betrag = 3 where kid=100
T1: None
T1: commit and close

                    TRead: START: REPEATABLE READ
                    TRead: select * from konto order by kid
                    TRead: None

          T2: START: READ COMMITTED
          T2: update konto set betrag = 7 where kid=200
          T2: None
          T2: commit and close

T3: START: READ COMMITTED
T3: insert into konto values (300, 1)
T3: None
T3: commit and close

                    TRead: select * from konto order by kid
                    TRead: None

                    TRead: commit and close

After  (kid, betrag): None

## Lost Update

## Write Skew

In [28]:
reset2_konto(CON_PAR)
show_tc(CON_PAR, TBL_KTO, ORD_KTO, MSG_BEFORE_KTO)
con1 = t_start(T1, IL1, CON_PAR, RR, KTO_ALL_SEL, KTO_ALL_SEL)

con2 = t_start(T2, IL2, CON_PAR, RR, KTO_ALL_SEL, KTO_ALL_SEL)

t_next(T1, IL1, con1, KTO_100_UPD_WITHDRAW90, KTO_ALL_SEL)
t_finish(T1, IL1, con1)

t_next(T2, IL2, con2, KTO_200_UPD_WITHDRAW50, KTO_ALL_SEL)
t_finish(T1, IL2, con2)
show_tc(CON_PAR, TBL_KTO, ORD_KTO, MSG_AFTER_KTO)

sep()

reset2_konto(CON_PAR)
show_tc(CON_PAR, TBL_KTO, ORD_KTO, MSG_BEFORE_KTO)
con1 = t_start(T1, IL1, CON_PAR, SER, KTO_ALL_SEL, KTO_ALL_SEL)

con2 = t_start(T2, IL2, CON_PAR, SER, KTO_ALL_SEL, KTO_ALL_SEL)

t_next(T1, IL1, con1, KTO_100_UPD_WITHDRAW90, KTO_ALL_SEL)
t_finish(T1, IL1, con1)

try:
    t_next(T2, IL2, con2, KTO_200_UPD_WITHDRAW50, KTO_ALL_SEL)
    t_finish(T2, IL2, con2)
except Exception as e:
    handle_db_exc(T2, IL2, con2, e)

show_tc(CON_PAR, TBL_KTO, ORD_KTO, MSG_AFTER_KTO)

Before (kid, betrag): None

T1: START: REPEATABLE READ
T1: select * from konto order by kid
T1: None

          T2: START: REPEATABLE READ
          T2: select * from konto order by kid
          T2: None

T1: update konto set betrag = betrag -90 where kid=100
T1: None

T1: commit and close

          T2: update konto set betrag = betrag -50 where kid=200
          T2: None

          T1: commit and close

After  (kid, betrag): None

**********

Before (kid, betrag): None

T1: START: SERIALIZABLE
T1: select * from konto order by kid
T1: None

          T2: START: SERIALIZABLE
          T2: select * from konto order by kid
          T2: None

T1: update konto set betrag = betrag -90 where kid=100
T1: None

T1: commit and close

          T2: update konto set betrag = betrag -50 where kid=200
          T2: None

          T2: commit and close

After  (kid, betrag): None

## Update Conflicts 1 - READ COMMITTED

## Update Conflicts 1 - REPEATABLE READ

## Update Conflicts 2 - READ COMMITTED

## Update Conflicts 2 - REPEATABLE READ

## Serialisierungsfehler

## Write Skew Avoidance- with Locks

## PostgreSQL Paper: Fig 1

## PostgreSQL Paper: Fig 2